.topo{
    margin-top: 20px;
    background-color: black !important;
    padding: 20px;
    border-radius: 8px;
}

.botao{
    color:black!important;
}

body {
    background-color: black !important;
}

.MuiTypography-root {
    color: white !important;
}

.MuiContainer-root {
    background-color: black !important;
}

.MuiTextField-root {
    background-color: #1a1a1a !important;
}

.MuiTextField-root .MuiInputBase-root {
    color: white !important;
}

.MuiTextField-root .MuiInputLabel-root {
    color: white !important;
}

.MuiTextField-root .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.MuiTextField-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}