.caixa{
    background-color: black
}

.titulo{
color: white !important;
font-weight: bold
}

.botao{
    border-color: white !important;
    background-color: #f8f8f8 !important;
    color: white;
}

.postagens{
    background-color: black;
}